{% extends "static/layout.html" %}
{% block title %}List Project{% endblock %}

{% block body %}
    <div class="page-header">
        <center><h3>Filtro</h3></center>
        <br />
        <center><h3>Lista de Fase</h3></center>
    <br />
    <ul>
        <div>	
            <table class="sample" id ="fase">
            <tr>
            <th id="t0">Reg</th>
            <th id="t1">Nombre</th>
            <th id="t2">Descripcion</th>
            <th id="t3">FechaDeCreacion</th>
            <th id="t4">Orden</th>
            <th id="t5">Estado</th>
            </tr>
            
            {% for fase in list: %}
                             <tr> 
                <td headers="t0" > <a href="{{ url_for('showFase', nombre = fase.nombre )}}" </a><IMG src ="/img/icon2.png"></td>
                <td headers="t1" > <a href="{{ url_for('showFase', nombre = fase.nombre )}}" <h5>{{ fase.nombre }}</h5></td>
                <td headers="t2" > <a href="{{ url_for('showFase', nombre = fase.nombre )}}" <h5>{{ fase.descripcion }}</h5></td>
                <td headers="t3" > <a href="{{ url_for('showFase', nombre = fase.nombre )}}" <h5>{{ fase.fechaDeCreacion}}</h5></td>
                <td headers="t4" > <a href="{{ url_for('showFase', nombre = fase.nombre )}}" <h5>{{ fase.orden}}</h5></td>	
                <td headers="t5" > <a href="{{ url_for('showFase', nombre = fase.nombre )}}" <h5>{{ fase.estado}}</h5></td>	
                            </tr>  
             {% endfor %}
            </table>
          </div>	
    </ul>
            <br />
    </div>

    <br />
    <p>
        <input type="button" value="Crear Fase" onclick="document.location='addFase';">
    </p>

 {% endblock %}

